header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-image: linear-gradient(#ffffff, #00569f);
    background-color: #00569f;
	background-repeat: no-repeat;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
    height: auto;
}
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    background-color: rgb(173, 216, 230);
    padding: 0;
    margin-bottom: 0;

}


#content {
    margin-left: 210px;
    padding: 1px 20px;
    background-color: white;
}

nav {
    width: 180px;
    background-color: rgb(173, 216, 230);
    padding-top: 20px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    font-size: 1.2em;
 
}
nav a {
    display:block;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 20px;
}  
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
img {
    float: left;
    margin-right: 25px;
}
.resort {
    color: #52718b;
    font-weight: bolder;
}
#content ul{
    list-style-image: url("marker.gif");
}

h1 {
	margin-bottom: 0;
	padding: 10px;
	background-image: url("sunset.jpg");
    background-color: #000032;
	background-repeat:no-repeat;
	background-position: right;
    color: white;

}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: small;
    padding-top: 25px;
    margin-left: 210px;
    padding-left: 15px;
    padding-bottom: 20px;
    background-color: white;
}
footer a{
    font-size:medium;
}


